@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/%D0%93%D1%80%D0%B8%D1%86%D0%B0%D0%BD/Documents/GitHub/website/fonts/Oswald/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/%D0%93%D1%80%D0%B8%D1%86%D0%B0%D0%BD/Documents/GitHub/website/fonts/Oswald/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/%D0%93%D1%80%D0%B8%D1%86%D0%B0%D0%BD/Documents/GitHub/website/fonts/Oswald/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/%D0%93%D1%80%D0%B8%D1%86%D0%B0%D0%BD/Documents/GitHub/website/fonts/Oswald/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/%D0%93%D1%80%D0%B8%D1%86%D0%B0%D0%BD/Documents/GitHub/website/fonts/Oswald/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Oswald';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/%D0%93%D1%80%D0%B8%D1%86%D0%B0%D0%BD/Documents/GitHub/website/fonts/Oswald/regular.ttf') format('truetype');
}
